<div class="container">
  <div>
    <h4>Welcome in Tetris app</h4>
    <p *ngIf="!submit">
      <span>
        <app-welcome-page (addPlayer)="add($event)"></app-welcome-page>
      </span>
    </p>
    <button (click)="submit = !submit" class="button" [disabled]="!currentPlayer ? 'disabled' : null">
      {{ submit ? "Back" : "Play" }}
    </button>
  </div>

  <div>
    <p *ngIf="submit">
      <span>
        <h2 class="message">{{ currentPlayer }}</h2>
        <h2 class="message">{{ gameStatus }}</h2>
        <app-tetris-mechanism class="content" (gameStatusInfo)="getStatus($event)" (gameDataInfo)="getData($event)">
        </app-tetris-mechanism>